body {
	font: 85% 'lucida grande',tahoma,verdana,arial,sans-serif;
}

/*Navbar*/
.navbar {
	min-width: 400px;
}

.navbar-inner, .btn, input, .modal {
	border-radius: 0 !important;
}

.navbar-inner.container-fluid {
	margin: 10px 20px;
	padding: 0 10px;
}


/*Contact Card*/
.contactCard {
	display: table;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 400px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
	background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
	background-image: linear-gradient(#f9f9f9, #f3f3f3);
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.contactCard .img-polaroid{
	float: left;	
}

.contactCard .info {
	padding: 0px 10px;
	display: inline-table;
}

.info > div:not(:last-child) {
	margin-bottom: 10px;
}

.contactCard .name {
	font-size: 1.2em;
	font-weight: bold;
}

.btnAction {
	float: right;
	margin-right: 5px;
	padding: 4px;
}

.contactCard .icon-edit,
.contactCard .icon-trash {
	float: right;
	cursor: pointer;
	font-size: 50px;
}

.contactCard .userPhoto {
	width: 100px;
	height: 100px;
}

/*Editbox*/
.editDetails {
	padding: 15px 0 0 10px;
	margin: 10px 0 0;
	border: 1px solid rgb(189, 189, 189);
	display: none;
	
	box-shadow: inset 0 0 5px rgba(82, 80, 80, 0.34);
}

.editDetails .input-prepend {
	padding-right: 10px;
}

.editDetails input {
	width: 80%;
	max-width: 400px;
}

.editDetails .add-on {
	width: 70px !important;
}



.btn, button {
	transition: all .3s;
}


/*Modal*/
button.close {
	background: gray;
	padding: 0 5px;
	border-radius: 15px;
}