body {
	margin-top: 50px;
	margin-bottom: 20px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;		
	min-width: 400px;
}

.mainContainer {
    padding-left: 10px;
    padding-right: 10px;
}

.custom-cols {
  background-color: #ffe5e0;
  display: block;
  height: 200px;
}

.dark {
  background-color: #2ab4d5;
  color: #ddd !important;
}

#feed {
	text-align: justify;
}

.entry, .entrySidebar {
	border: 1px solid rgba(255,255,255,.7);
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	padding: .3em;
	margin-bottom: 1em;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #f7f7f7 0%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#f7f7f7), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#f7f7f7 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#f7f7f7 0%,#fafafa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#f7f7f7 0%,#fafafa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#f7f7f7 0%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */

}

.title {
	font-size: 1.3em;
	display: block;
	margin: .3em;
	padding-bottom: .3em;
	color: rgb(0, 102, 153);
	text-decoration: none;
	font-family: Georgia, 'Times New Roman', Times, serif;
	border-bottom: 1px solid rgb(214, 214, 214);
}

.content {
	padding: .3em;
}

.note {
	font-size: small;
	text-align: right;
	text-transform: capitalize;
	margin: 0px;
}

.img-block {
	display: block;
	margin: 10px auto;
}

.smallImage {
	margin-left: 10px;
}

.content .img-polaroid {
	margin-bottom: 10px;
}

.newsSource, .dropdown-menu a:hover {
	cursor: pointer;	
}

.newsHeading {
	color: rgb(0, 102, 153);
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
	padding-left: 10px;
}

img, iframe {
	max-width: 98% !important;
}
